<div class="container">
  <div class="columns is-centered">
    <div class="column is-one-third">
      <form>
        <label for="search">Search:</label>
        <input type="text" id="search" name="search" class="input" />
        <br />
        <button type="submit" class="button is-primary">Submit</button>
      </form>
    </div>
    <div class="column is-one-third">
      <div class="columns">
        <div class="column">
          <h2 class="subtitle">Beers to Try</h2>
          <ul id="beers-to-try"></ul>
        </div>
        <div class="column">
          <h2 class="subtitle">My Favorites</h2>
          <ul id="favorites"></ul>
        </div>
      </div>
    </div>
  </div>
  <div id="results"></div>
</div>

<script src="/js/dashboard.js"></script>

{{!-- <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div>
                <h2>Favorites</h2>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h2>Your Beers of the Day</h2>
                <ul>
                    {{#each randomBeers as |randomBeer|}}
                    <li>{{randomBeer.dataValues.name}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h2>Beers to Try</h2>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<form>
    <label for ="search">Search Beers Here:</label>
    <input type="text" id= "search" name="search" placeholder="Enter your search term">
    <button type="submit">Search</button>
</form>

 <div id="results"></div>

    <h2>My Favorites</h2>
    <ul id="favorites"></ul>

     <form>
        <label for="search">Search:</label>
        <input type="text" id="search" name="search">
        <button type="submit">Submit</button>
    </form>

    <div id="results"></div>

    <h2>My Favorites</h2>
    <ul id="favorites"></ul>

    <h2>Beers to Try</h2>
    <ul id="beers-to-try"></ul>

     <form>
        <label for="search">Search:</label>
        <input type="text" id="search" name="search">
        <button type="submit">Submit</button>
    </form>

    <div id="results"></div>

    <h2>My Favorites</h2>
    <ul id="favorites"></ul>

    <h2>Beers to Try</h2>
    <ul id="beers-to-try"></ul>









    
    <script src="./js/dashboard.js"></script>
</body>

</html> --}}