<div>
    <h2>Favorites</h2>
        <ul>
            <li></li>
        </ul>
</div>


<div>
     <h2>Your Beers of the Day</h2>
        <ul>
            {{#each randomBeers as |randomBeer|}}
                <li>{{randomBeer.dataValues.name}}</li>
            {{/each}}
        </ul>
</div>


<div>
    <h2>Beers to Try</h2>
        <ul>
            <li></li>
        </ul>
</div>

<form>
    <label for ="search">Search Beers Here:</label>
    <input type="text" id= "search" name="search" placeholder="Enter your search term">
    <button type="submit">Search</button>
</form>

 <div id="results"></div>

    <h2>My Favorites</h2>
    <ul id="favorites"></ul>

     <form>
        <label for="search">Search:</label>
        <input type="text" id="search" name="search">
        <button type="submit">Submit</button>
    </form>

    <div id="results"></div>

    <h2>My Favorites</h2>
    <ul id="favorites"></ul>

    <h2>Beers to Try</h2>
    <ul id="beers-to-try"></ul>

     <form>
        <label for="search">Search:</label>
        <input type="text" id="search" name="search">
        <button type="submit">Submit</button>
    </form>

    <div id="results"></div>

    <h2>My Favorites</h2>
    <ul id="favorites"></ul>

    <h2>Beers to Try</h2>
    <ul id="beers-to-try"></ul>















    
    <script src="script.js"></script>
</body>

</html>


