<div>

    <img src="https://images.unsplash.com/photo-1481349518771-20055b2a7b24?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cmFuZG9tfGVufDB8fDB8fA%3D%3D&w=1000&q=80" />

    <h2>Beer of the Day</h2>

    <ul>
        {{#each randomBeers as |randomBeer|}}
            <li>{{randomBeer.dataValues.name}}</li>
        {{/each}}
    </ul>

    <h3>What other beer lovers are drinking</h3>

    <a href="/login">Sign in for personalized recommendations</a>
</div>