<div class="card">
  <div class="card-content">
    <h2 class="title is-2" id="beerMe">Beer Me!</h2>
    <ul>
      {{#each randomBeers as |randomBeer|}}
        <li><strong>Name:</strong> {{randomBeer.dataValues.name}}</li>
        <li><strong>Type:</strong> {{randomBeer.dataValues.type}}</li>
        <li><strong>Description:</strong>
          {{randomBeer.dataValues.description}}</li>
      {{/each}}
    </ul>
    <br />
    <p>Refresh the page to get a new random beer!</p>
    <!-- Added button element -->
    <br />
    <h3>What other beer lovers are drinking</h3>
    <br />
    <a href="/login">Sign in for personalized recommendations</a>
  </div>
</div>