<div>


    <h2 id="beerMe">Beer Me!</h2>

    <ul>
        {{#each randomBeers as |randomBeer|}}
            <li>Name: {{randomBeer.dataValues.name}}</li>
            <li>Type: {{randomBeer.dataValues.type}}</li>
            <li>Description:  {{randomBeer.dataValues.description}}</li>
        {{/each}}
    </ul>
<br>
    <h3>What other beer lovers are drinking</h3>
<br>
    <a href="/login">Sign in for personalized recommendations</a>
</div>