<div id="center-this" class="columns">
  <div class="column is-half">
    <h2 class="title">Login</h2>
    <form class="login-form">
      <div class="field">
        <label class="label" for="username-login">Username:</label>
        <div class="control">
          <input class="input" type="text" id="username-login" />
        </div>
      </div>
      <div class="field">
        <label class="label" for="password-login">Password:</label>
        <div class="control">
          <input class="input" type="password" id="password-login" />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit" onclick="loginFormHandler(event)">Login</button>
        </div>
      </div>
    </form>
    <p>Not a user? <a href="/signup">Sign Up here!</a></p>
  </div>
</div>

<script src="./js/login.js"></script>