<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="username-login">Username:</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" onclick="loginFormHandler(event)">Login</button>
      </div>
    </form>
    <a href="/signup">Not a user? Sign Up here!</a>
  </div>
</div>

<script src="./js/login.js"></script>