<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <h2 class="title is-2">Signup</h2>

      <form class="signup-form">
        <div class="field">
          <label class="label" for="username-signup">Username:</label>
          <div class="control">
            <input
              class="input"
              type="text"
              id="username-signup"
              placeholder="Enter your username"
            />
          </div>
        </div>
        <div class="field">
          <label class="label" for="password-signup">Password:</label>
          <div class="control">
            <input
              class="input"
              type="password"
              id="password-signup"
              placeholder="Enter your password"
            />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button
              class="button is-primary"
              type="submit"
              onclick="signupFormHandler(event)"
            >Sign up</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="./js/signup.js"></script>