<div class="row">
      <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" onclick="signupFormHandler(event)">Sign up</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/signup.js"></script>