<h1>Meet Our Staff!</h1>

<div class="roster">
  <div class="employee-card">
    <div class="employee-image"></div>
    <h3>Noah Hoang</h3>
    <ul><p>
        GitHub:
        <a
          href="https://github.com/noahhoang"
          target="_blank"
        >https://github.com/noahhoang</a><br />
        LinkedIn:
        <a
          href="https://linkedin.com/in/noahhoang"
          target="_blank"
        >https://linkedin.com/in/noahhoang</a><br />
        Twitter:
        <a
          href="https://twitter.com/noahhoang"
          target="_blank"
        >https://twitter.com/noahhoang</a>
      </p></ul>
    <button onclick="openModal('noah-modal')">View Details</button>
  </div>

  <div class="employee-card">
    <div class="employee-image"></div>
    <h3>Afi Crecy</h3>
    <ul><p>
        GitHub:
        <a
          href="https://github.com/noahhoang"
          target="_blank"
        >https://github.com/noahhoang</a><br />
        LinkedIn:
        <a
          href="https://linkedin.com/in/noahhoang"
          target="_blank"
        >https://linkedin.com/in/noahhoang</a><br />
        Twitter:
        <a
          href="https://twitter.com/noahhoang"
          target="_blank"
        >https://twitter.com/noahhoang</a>
      </p></ul>
    <button onclick="openModal('afi-modal')">View Details</button>
  </div>

  <div class="employee-card">
    <div class="employee-image"></div>
    <h3>Tamara Dusenbury</h3>
    <ul><p>
        GitHub:
        <a
          href="https://github.com/noahhoang"
          target="_blank"
        >https://github.com/noahhoang</a><br />
        LinkedIn:
        <a
          href="https://linkedin.com/in/noahhoang"
          target="_blank"
        >https://linkedin.com/in/noahhoang</a><br />
        Twitter:
        <a
          href="https://twitter.com/noahhoang"
          target="_blank"
        >https://twitter.com/noahhoang</a>
      </p></ul>
    <button onclick="openModal('tamara-modal')">View Details</button>
  </div>

  <div class="employee-card">
    <div class="employee-image"></div>
    <h3>Cassie Tepper</h3>
    <ul><p>
        GitHub:
        <a
          href="https://github.com/noahhoang"
          target="_blank"
        >https://github.com/noahhoang</a><br />
        LinkedIn:
        <a
          href="https://linkedin.com/in/noahhoang"
          target="_blank"
        >https://linkedin.com/in/noahhoang</a><br />
        Twitter:
        <a
          href="https://twitter.com/noahhoang"
          target="_blank"
        >https://twitter.com/noahhoang</a>
      </p></ul>
    <button onclick="openModal('cassie-modal')">View Details</button>
  </div>
</div>

<!-- Modal for Noah Hoang -->
<div id="noah-modal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal('noah-modal')">&times;</span>
    <h2>Noah Hoang</h2>
    <div class="employee-image"></div>
    <p>
      GitHub:
      <a
        href="https://github.com/noahhoang"
        target="_blank"
      >https://github.com/noahhoang</a><br />
      LinkedIn:
      <a
        href="https://linkedin.com/in/noahhoang"
        target="_blank"
      >https://linkedin.com/in/noahhoang</a><br />
      Twitter:
      <a
        href="https://twitter.com/noahhoang"
        target="_blank"
      >https://twitter.com/noahhoang</a>
    </p>
  </div>
</div>

<!-- Modal for Afi Crecy -->
<div id="afi-modal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal('afi-modal')">&times;</span>
    <h2>Afi Crecy</h2>
    <div class="employee-image"></div>
    <p>
      GitHub:
      <a
        href="https://github.com/aficrecy"
        target="_blank"
      >https://github.com/aficrecy</a><br />
      LinkedIn:
      <a
        href="https://linkedin.com/in/aficrecy"
        target="_blank"
      >https://linkedin.com/in/aficrecy</a><br />
      Twitter:
      <a
        href="https://twitter.com/aficrecy"
        target="_blank"
      >https://twitter.com/aficrecy</a>
    </p>
  </div>
</div>

<!-- Modal for Tamara Dusenbury -->
<div id="tamara-modal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal('tamara-modal')">&times;</span>
    <h2>Tamara Dusenbury</h2>
    <div class="employee-image"></div>
    <p>
      GitHub:
      <a
        href="https://github.com/tamaradusenbury"
        target="_blank"
      >https://github.com/tamaradusenbury</a><br />
      LinkedIn:
      <a
        href="https://linkedin.com/in/tamaradusenbury"
        target="_blank"
      >https://linkedin.com/in/tamaradusenbury</a><br />
      Twitter:
      <a
        href="https://twitter.com/tamaradusenbury"
        target="_blank"
      >https://twitter.com/tamaradusenbury</a>
    </p>
  </div>
</div>

<!-- Modal for Cassie Tepper -->
<div id="cassie-modal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal('cassie-modal')">&times;</span>
    <h2>Cassie Tepper</h2>
    <div class="employee-image"></div>
    <p>
      GitHub:
      <a
        href="https://github.com/cassietemper"
        target="_blank"
      >https://github.com/cassietemper</a><br />
      LinkedIn:
      <a
        href="https://linkedin.com/in/cassietemper"
        target="_blank"
      >https://linkedin.com/in/cassietemper</a><br />
      Twitter:
      <a
        href="https://twitter.com/cassietemper"
        target="_blank"
      >https://twitter.com/cassietemper</a>
    </p>
  </div>
</div>
<script src="/js/staff/.js"></script>