<h1>Meet Our Staff!</h1>

<div class="roster">
  <div class="employee-card">
    <div class="employee-image">
      <img
        class="employee-image"
        src="https://avatars.githubusercontent.com/u/127361736?v=4"
        alt="Noah Hoang"
      />
    </div>
    <h3>Noah Hoang</h3>
    <ul>
      <li>
        GitHub:
        <a
          href="https://github.com/CodeNameNoah"
          target="_blank"
        >https://github.com/CodeNameNoah</a>
      </li>
      <li>
        LinkedIn:
        <a
          href="https://linkedin.com/in/CodeNameNoah"
          target="_blank"
        >https://linkedin.com/in/CodeNameNoah</a>
      </li>
      <li>
        Twitter:
        <a
          href="https://twitter.com/CodeNameNoahH"
          target="_blank"
        >https://twitter.com/CodeNameNoahH</a>
      </li>
    </ul>
  </div>

  <div class="employee-card">
    <div class="employee-image"><img
        class="employee-image"
        src="https://media.licdn.com/dms/image/D5603AQFXWY0i3CUcEw/profile-displayphoto-shrink_200_200/0/1682106609820?e=1689206400&v=beta&t=iNxaYAxM98Zn6UK3UCyOBFsiie4yr-obUUjhR4_DMvQ"
        alt="Cassie Tepper"
      /></div>
    <h3>Afi Crecy</h3>
    <ul><p>
        GitHub:
        <a
          href="https://github.com/aficrecy"
          target="_blank"
        >https://github.com/aficrecy</a><br />
        LinkedIn:
        <a
          href="https://www.linkedin.com/in/afi-nkhume-crecy-932862128/"
          target="_blank"
        >https://www.linkedin.com/in/afi-nkhume-crecy-932862128/</a><br />

      </p></ul>
  </div>

  <div class="employee-card">
    <div class="employee-image"><img
        class="employee-image"
        src="https://avatars.githubusercontent.com/u/128196644?v=4"
        alt="Cassie Tepper"
      /></div>
    <h3>Tamara Dusenbury</h3>
    <ul><p>
        GitHub:
        <a
          href="https://github.com/tdusenbury"
          target="_blank"
        >https://github.com/tdusenbury</a><br />
        LinkedIn:
        <a
          href="https://www.linkedin.com/in/tamara-dusenbury-02ab8591/"
          target="_blank"
        >https://www.linkedin.com/in/tamara-dusenbury-02ab8591/</a><br />
      </p></ul>
  </div>

  <div class="employee-card">
    <div class="employee-image"><img
        class="employee-image"
        src="https://media.licdn.com/dms/image/D5603AQEJBSdnN_tKYQ/profile-displayphoto-shrink_200_200/0/1673453798771?e=1689206400&v=beta&t=RhI-pLPie4wE2d9IVTeXL34c2be3g8K41xdOK1jtJvM"
        alt="Cassie Tepper"
      /></div>
    <h3>Cassie Tepper</h3>
    <ul><p>
        GitHub:
        <a
          href="https://github.com/ctep09"
          target="_blank"
        >https://github.com/ctep09</a><br />
        LinkedIn:
        <a
          href="https://linkedin.com/in/cassie-tepper"
          target="_blank"
        >https://linkedin.com/in/cassie-tepper</a><br />
      </p></ul>
  </div>
</div>

<script src="/js/staff/.js"></script>